body{
    font-family: 'Roboto', sans-serif;
    margin: 20;
}
h3{
    font-size: 25px;
}
h2{
    font-size: 35px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin: 8px;
    padding: 5px;
}
.half-width img{
    width: 100%;
    padding: 5px;
    
}
.link-button{
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-color: orange;
    background-image: linear-gradient("45deg, salmon, tomato");
    padding: 10px 20px;
    border-radius: 7px;
}